<div>
    <table border="1">
        <tbody>
            <tr>
                <th>Title of Col</th>
            </tr>
            <tr>
                <th>CONTENT</th>
            </tr>
        </tbody>
    </table>
</div>