<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Website Name</title>
    <link rel="stylesheet" href= "../../styles/styles.css" />
  </head>
  <h1>THIS IS ON EVERYPAGE</h1>
  <body>
    {{{body}}}
  </body>
</html>